{{ 'a-custom.css' | asset_url | stylesheet_tag }}

<section class="ranking grid-card">
  <section class="section-title ranking-title">
    <h2 class="section-title__title ">
      タイトルが入ります
    </h2>
    <p class="section-title__sub-title">
      サブテキストが入ります
    </p>
  </section>
  <div class="ranking__inner grid-card__inner inner">
    <ul class="ranking__items grid-card__items">
      <li class="ranking__item grid-card__item">
        <img
          class="ranking__img grid-card__img"
          src="https://cdn.shopify.com/s/files/1/0680/4848/6651/files/product_cc027713-ec46-4e7a-b361-70d359196062.jpg?v=1704238355"
          alt="">
        <span class="ranking__number">
          一
        </span>
        <h3 class="ranking__title grid-card__title">水羊羹（楓）</h3>
        <p class="ranking__price grid-card__price">¥600</p>
      </li>
      <li class="ranking__item grid-card__item">
        <img
          class="ranking__img grid-card__img"
          src="https://cdn.shopify.com/s/files/1/0680/4848/6651/files/product_cc027713-ec46-4e7a-b361-70d359196062.jpg?v=1704238355"
          alt="">
        <span class="ranking__number">
          一
        </span>
        <h3 class="ranking__title grid-card__title">水羊羹（楓）</h3>
        <p class="ranking__price grid-card__price">¥600</p>
      </li>
      <li class="ranking__item grid-card__item">
        <img
          class="ranking__img grid-card__img"
          src="https://cdn.shopify.com/s/files/1/0680/4848/6651/files/product_cc027713-ec46-4e7a-b361-70d359196062.jpg?v=1704238355"
          alt="">
        <h3 class="ranking__title grid-card__title">水羊羹（楓）</h3>
        <p class="ranking__price grid-card__price">¥600</p>
      </li>
      <li class="ranking__item grid-card__item">
        <img
          class="ranking__img grid-card__img"
          src="https://cdn.shopify.com/s/files/1/0680/4848/6651/files/product_cc027713-ec46-4e7a-b361-70d359196062.jpg?v=1704238355"
          alt="">
        <h3 class="ranking__title grid-card__title">水羊羹（楓）</h3>
        <p class="ranking__price grid-card__price">¥600</p>
      </li>
      <li class="ranking__item grid-card__item">
        <img
          class="ranking__img grid-card__img"
          src="https://cdn.shopify.com/s/files/1/0680/4848/6651/files/product_cc027713-ec46-4e7a-b361-70d359196062.jpg?v=1704238355"
          alt="">
        <h3 class="ranking__title grid-card__title">水羊羹（楓）</h3>
        <p class="ranking__price grid-card__price">¥600</p>
      </li>
    </ul>
    <div class="ranking__btn">
      <a href="">商品詳細をみる</a>
    </div>

  </div>
</section>

<style>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .section-title.ranking-title {
    margin-top: 0;
  }
  .grid-card {
    padding: 40px 0;
  }

.grid-card__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  padding: 0 50px;
}

.grid-card__item {
  max-width: 213.6px;
  width: 100%;
  padding-bottom: 17px;
  position: relative;

}

.grid-card__img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  max-width: 213px;
  width: 100%;
  display: inline-block;
}

.ranking__number {
  margin: 0;
  padding: 6.5px 7.5px 7.5px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: min(calc(24 / 1280 * 100vw), 24px);
  color: #fff;
  background: #C79B33;
}
.grid-card__title {
  margin: 17px 0 0;
  font-size: min(calc(16 / 1280 * 100vw), 16px);
  line-height: 172%;
  letter-spacing: 0.64;
}
.grid-card__price {
  margin: 7px 0 0;
  font-size: min(calc(16 / 1280 * 100vw), 16px);
  line-height: 172%;
  letter-spacing: 0.64;
}
.ranking__btn {
  margin-top: 10px;
  text-align: center;
}
.ranking__btn a {
  letter-spacing: 0.64px;
  font-size: min(calc(16 / 1280 * 100vw), 16px);
  color: #FEFFFF;
  background-color: #779547;
  padding: 9.5px 30px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 768px) {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .grid-card {
    padding: 25px 0;
  }
  .grid-card__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    padding: 0;
  }


  .grid-card__item {
    max-width: 100%;
    padding-bottom: 17px;
    position: relative;

  }
  .ranking__number {
    font-size: min(calc(20 / 375 * 100vw), 20px);
    padding: 9px 14px 10px;
  }

  .grid-card__img {
    max-width: 100%;
  }

  .grid-card__title {
    margin: 13px 0 0;
    font-size: min(calc(15 / 375 * 100vw), 15px);
  }

  .grid-card__price {
    margin: 7px 0 0;
    font-size: min(calc(15 / 375 * 100vw), 15px);
  }

  .ranking__btn {
    margin-top: 10px;
    text-align: center;

  }
  .ranking__btn a {
    font-size: min(calc(15 / 375 * 100vw), 15px);
  }
}
</style>

{% schema %}
  {
    "name": "月間ランキング",
    "class": "banner-section",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "月間ランキング"
      }
    ]
  }
{% endschema %}